<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <title>Contactos</title>
</head>

<body>
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Numero</th>
          <th scope="col">Correo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% contacts.forEach(contact => { %>
          <tr>
            <th scope="row"><%=contact.id%></td>
            <td><%=contact.name%></td>
            <td><%=contact.lastName%></td>
            <td><%=contact.number%></td>
            <td><%=contact.email%></td>
            <td>
              <table>
                <tr>
                  <td class="pe-2">
                    <a href="/edit/<%=contact.id%>" class="btn btn-warning">EDITAR</a>
                  </td>
                  <td class="ps-2">
                    <form method="post" action="/eliminar">
                      <input name="contactId" id="contactId" type="hidden" value="<%=contact.id%>">
                      <button type="submit" class="btn btn-danger">ELIMINAR</button>
                    </form>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
      <%});%>
      </tbody>
    </table>
  </div>
</body>

</html>